################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/MauiAppMinhasCompras/FileContentIndex/b3fa6966-3076-4925-bd5d-0821a4181cf9.vsidx
/.vs/MauiAppMinhasCompras/v17/DocumentLayout.json
/.vs/MauiAppMinhasCompras/v17/.suo
